.card-1
{
    display: flex;
    align-items: center;
    width: 57%;
    height: 150px;
    margin: 0 0 20px 0;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dddddd;
    box-shadow: 1px 1px 8px #dfdfdf;
    padding: 25px;
}
.content-1-4
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}
.content-1-4 p
{
    width: 80%;
    font-size: 12px;
}
.progress-cont
{
    margin: 0 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.progno
{
    font-weight: 800;
    font-size: 30px;
}
.progress-cont p
{
    margin: 0 5px;
}