*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p
{
    margin: 0;
}
.header-mek
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: #F9F9F9;
    border: 1px solid #e1e1e1;
}
.back-btn-mek
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e1e1e1;
    width: 70px;
    height: 69px;
}
.main-head-mek
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.question-mark-mek
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e1e1e1;
    width: 70px;
    height: 69px;
}
.content-wrapper-mek
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
}
.inner-content-mek-top
{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 80%;
    height: 70px;
    background-color: #fff;
}
.bar-chart-mek
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.clock-mek
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.progress-bar-mek
{
    width: 80%;
    height: 8px;
    background-color: #B4B4B4;
}
.inner-content-mek-bottom-1
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: fit-content;
    background-color: #F9F9F9;
}
.question-1-mek
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 60%;
    padding: 10%;
    height: 300px;
    background-color: #fff;
    border: 1px solid #E1E1E1;
}
.question-1-mek-1
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 60%;
    height: 300px;
    background-color: #fff;
    border: 1px solid #E1E1E1;
}

.opt-bottom-mek-2
{
    height: 50%;
    width: 50%;
}
.question-head-mek
{
    margin: 5%;
}
.opt-1-mek
{
    justify-content: flex-start;
    align-items: center;
    height: 25%;
    display: flex;
    border: 1px solid #e1e1e1;
}
.exer-m-btn-2
{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 55%;
}
.opt-1-mek input
{
    margin-left: 5%;
}
.opt-1-mek p
{
    margin-left: 2%;
}
.exercise-btn-main-mek
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2%;
    width: 60%;
}