*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
.left-sidebar-1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FAFAFA;
    width: 10%;
    position: fixed;
    height: 100vh;
}
.logo-1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}
.logo-1 a
{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-1 img
{
    width: 80px;
}
.logo-1 a
{
    border: 1px solid white;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}

.Home-1
{
    background-color: #0A1596;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}
.Home-1 a
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Home-1 img
{
    width: 40%;
}
.Home-1 a
{
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}
.Course-1
{
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;

}
.Course-1 a
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Course-1 img
{
    width: 40%;
}
.Course-1 a
{
    border: 1px solid white;
    text-decoration: none;
    font-size: 12px;
    color: #b5b5b5;
}

.Message-1
{
    border: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}
.Message-1 a
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Message-1 img
{
    width: 40%;
}
.Message-1 a
{
    border: 1px solid white;
    text-decoration: none;
    font-size: 12px;
    color: #b5b5b5;
}
.Profile-1
{
    border: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}
.Profile-1 a
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Profile-1 img
{
    width: 70%;
}
.Profile-1 a
{
    border: 1px solid white;
    text-decoration: none;
    font-size: 12px;
    color: #b5b5b5;
}