*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
.quan-o-container-1
{
    display: flex;
    flex-wrap: wrap;
}
.quan-o-content-1
{
    width: 85%;
    background-color: #fff;
    position: absolute;
    height: 270%;
    top: 10%;
    left: 10%;
}
.content-o-1-3
{
    display: flex;
    flex-wrap: wrap;
}
.quan-o-content-1-3 h3
{
    font-size: 30px;
    margin: 10px 0;
}
.quan-o-nav-item-1-2
{
    display: flex;
    flex-wrap: wrap;
}
.quan-o-nav-item-1-2 p
{
    width: 30%;
    font-size: 12px;
}
#active-item-1 a:visited
{
    text-decoration: underline;
    color: #222222;
}
.quan-o-nav-item-1-3
{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.quan-o-nav-item-1-3 a
{
    color: #b5b5b5;
    text-decoration: none;
}
.quan-o-head-1-3
{
    display: flex;
}
.quan-o-head-1-4 p
{
    font-size: 14px;
    font-weight: 600;
}
.quan-o-head-1-5
{
    margin: 0 50px;
    width: 40%;
}
.quan-o-head-1-5 p
{
    font-size: 14px;
    font-weight: 600;
}
.quan-o-head-outline-boxes
{
    display: flex;
}

.quan-o-head-1-2 h3
{
    margin: 10px 0;
}
.quan-o-head-1-2 p
{
    text-transform: uppercase;
    margin: 10px 0;
}
.quan-o-question-type
{
    margin: 50px 0 0 0;
    width: 60%;
}
.quan-o-question-type p
{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.question-o-type-1
{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
.history-o table
{
    width: 61%;
    display: flex;
    flex-direction: column;
}
table thead tr th
{
    text-align: left;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 14px;
    width: 70%;

}
.body-o-bord
{
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 8px #dfdfdf;
}

table tbody tr td
{
    height: 60px;
    padding: 20px;
    border-collapse: collapse;
    border-radius: 5px;
    padding: 0 10px;
    width: 63%;
    color: #505050;
    font-size: 14px;

}
.quan-o-rt-sidebar-container-1
{
    display: flex;
    flex-wrap: wrap;
}
.quan-o-rt-sidebar-1
{
    position: absolute;
    left: 63%;
    width: 37%;
    height: 270%;

}
.quan-o-rt-sidebar-1 > h3
{
    margin: 8% 0 0 10%;
}
.quan-o-rt-sidebar-1 > p
{
    font-size: 12px;
    margin: 2% 0 0 10%;
}

.quan-o-box-1
{
    height: 95px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.quan-o-inner-box-1
{
    border: 1px solid #dddddd;
    box-shadow: 1px 1px 8px #dfdfdf;
    margin: 0 10px;
    background-color: #fff;
    width: 82%;
    height: 60px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.quan-o-progress-bar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.quan-o-progress-bar p
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27AE60;
    color: #fff;
    height: 15px;
    width: 80%;
    font-size: 12px;
    border-radius: 20px;
}
.quan-o-graph-box-1-3
{
    display: flex;
    flex-wrap: wrap;
}
.quan-o-inner-box-1-3
{
    border: 1px solid #dddddd;
    box-shadow: 1px 1px 8px #dfdfdf;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 5% 0 0  10%;
    width: 82%;
    height: 250px;
    border-radius: 5px;
    padding: 10%;
}
.quan-o-inner-box-1-3 p
{
    font-size: 12px;
    text-transform: uppercase;
    margin: -25px 2px;
    font-weight: 600;
}
.quan-o-task
{
    margin: 8% 0 0 10%;
    display: flex;
}
.quan-o-task-1
{
    margin: 0 10px;
}
.quan-o-task-2
{
    margin: 0 20px;
}
.quan-o-task-1 p
{
    font-size: 12px;
}
.quan-o-task-2 p
{
    font-size: 12px;
}
.quan-o-score-1
{
    margin: 8% 0 0 10%;
    display: flex;
    flex-direction: column;
}
.quan-o-score-1 p
{
    font-size: 12px;
}
.quan-o-box-1-4
{
    display: flex;
    flex-wrap: wrap;
}