.continue-btn-1 button
{
    height: 35px;
    width: 95px;
    margin: 15px 0;
    border-radius: 5px;
    background-color: #1E213A;
    border: none;
    color: #fff;
}
.continue-btn-1 button:hover
{
    background-color: #252a58;
    cursor: pointer;
}