/* .outline-btn-1 button
{
    height: 45px;
    margin: 15px 0;
    width: 380px;
    border-radius: 5px;
    border: 1px solid #1E213A;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.outline-btn-1 button img
{
    margin: 0 10px ;
    width: 20px;
} */