/* .signup-org-1
{
    border: 1px solid purple;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.inner-signup-org-1
{
    margin: 10% 20%;
}
.second-last-para
{
    text-align: center;
    width: 70%;
}
.last-para
{
    margin: 8% 0;
    font-size: 12px;
    text-align: center;
    width: 70%;
} */