@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif !important;
}

label>img {
  width: 25px;
}

p {
  margin: 0;
}

blockquote {
  margin: 0 0 1rem;
  color: rgba(0, 0, 0, 0.5);
  margin: 1em 0;
  padding-left: 1.5em;
  border-left: 5px solid rgba(0, 0, 0, 0.1);
}

input::placeholder {
  color: "#E1E1E1";
}

.MuiTypography-root.MuiTypography-subtitle1>* {
  display: block;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
}

.MuiTypography-root.MuiTypography-body1.css-ahj2mt-MuiTypography-root>p {
  padding-bottom: 1em;
}

.swal-modal .swal-text {
  text-align: center;
}

.optionImage p img {
  width: 50%;
}

.optionImage p {
  text-align: center;
  width: 100%;
}

.questionImage p {
  text-align: center;
  width: 100%;
}

.questionImage p img {
  width: 100%;
}