* {
  font-family: "Roboto";
}
p {
  margin: 0;
}
blockquote {
  margin: 0 0 1rem;
  color: rgba(0,0,0,.5);
  padding-left: 1.5em;
  border-left: 5px solid rgba(0,0,0,.1);
}

/* .input-style:focus {
  outline: none;
} */
