.input-field-1
{
    display: flex;
    flex-wrap: wrap;
}
.input-field-1 input
{
    height: 45px;
    width: 380px;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #1E213A;
}