/* .input-field-1
{
    display: flex;
    flex-wrap: wrap;
}
.input-field-1 input
{
    height: 20%;
    width: 80%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #1E213A;
} */